/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.heading-container {
    display: flex;
    align-items: baseline; /* Align text properly */
    gap: 2.5rem; /* Adds space between the headings */
}

/* Style for the headings */
.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

/* Highlight Total Annual Savings */
#total-savings {
    color: #4caf50; /* Green color for savings value */
    font-weight: bold;
    margin-left: 2.5rem;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#spendingChart {
    width: 150px;  /* Desired width */
    height: 150px; /* Desired height */
}

main#main {
    flex: 1;
    padding: 1rem;
    max-width: 800px;
    margin: auto;
}

/* Input Group Styles */
.input-group {
    margin-bottom: 1.5rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

/* Spend Row Styles */
.spend-container {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
}

.spend-row {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.75rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.spend-row .icon-placeholder {
    width: 24px; /* Placeholder size */
    height: 24px;
    margin-right: 1rem;
    background-color: #ddd; /* Gray background for icon */
    border-radius: 50%; /* Make it circular */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem; /* Placeholder text size */
    color: #666;
    flex-shrink: 0; /* Prevent shrinking */
}

.spend-row .styled-input {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative; /* Allows positioning of the spend-saving */
}

.spend-row .styled-input input[type="checkbox"] {
    margin-right: 0.5rem; /* Space between checkbox and label */
}

.spend-row .spend-saving {
    margin-left: 5rem; /* Minimal space to bring it closer */
    font-weight: bold;
    color: #4caf50;
    flex-shrink: 0; /* Prevent shrinking */
    white-space: nowrap; /* Prevent wrapping of the value */
}

/* Responsive Design */
@media (max-width: 600px) {

    .spend-row .spend-saving {
        margin-left: 2rem;
    }

    .heading-container {
        gap: 5rem; /* Adds space between the headings */
    }

}
